.scorelist-container {
    min-width: 200px;
    min-height: 200px;
    max-height: 500px;
}

.total-container, .time-container {
    display: flex;
    padding: 8px;
    justify-content: space-between;
}