.home-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    margin-right: 50px;
}

.board-container, .wordlist-container  {
    min-height: 200px;
}

.wordlist-container {
    height: 250px;
}

.word-input {
    margin-bottom: 10px;
}

.reset-button, .end-button, .submit-button, .new-button {
    margin-right: 10px !important;
}

.button-wrapper {
    margin-top: 10px !important;
}